@charset "utf-8";
@import "../../node_modules/bulma/bulma";

html, body, #root
{
	height: 100%;
}

#root
{
	display: flex;
	flex-direction: column;
}

.body
{
	flex: 1 0 auto;
}

.footer
{
	flex-shrink: 0;
}

// pre
// {
// 	padding: 0;
// 	overflow: visible;
// }

.title::before
{
	content: "";
	display: block;
	height: 3.25rem;
	margin: -3.25rem 0 0;
}

.fork-me-on-github
{
	img
	{
		position: fixed;
		top: 0;
		right: 0;
		border: 0;
		z-index: 50;
	}
}

.sidebar, .toc
{		
	flex-basis: 250px;
	flex-grow: 0;
	height: calc(100vh - 4rem);
	position: sticky;
	top: 4rem;
}

.toc
{
	order: 3;
}

.header
{
	.navbar:first-child
	{
		position: fixed !important;
		top: 0;
		left: 0;
		right: 0;
		z-index: 40;
	}
}
